@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&family=Raleway&display=swap');

html,
body {
    text-align: center !important;
    height: 100%;
    margin: 0;
}

/*TITLE*/

#title {
    background: rgba(0, 0, 0, 0.5) url("../images/backgroung-image.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.title-text {
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 4.5rem;
    margin-top: 5rem;
    color: #ffffff;
}

.title-text2 {
    font-family: 'Alegreya', serif;
    color: #ffffff;
}


/*MOUSE SCROLL*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 8rem;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-direction: alternate;

    animation-delay: 0.2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-direction: alternate;

    animation-delay: 0.3s;
    animation-direction: alternate;

    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;

    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/*----------------------------------------------------------------------*/

.white-section {
    font-family: 'Alegreya', serif;
    background: radial-gradient(#fdd0d0, #c9d8e7);

}

.navbar {
    font-family: 'Raleway', serif;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-item {
    margin-right: 2rem;
}

.container-fluid {
    padding: 4% 7% !important;
}

.header {
    color: #09619c;
    padding-bottom: 3%;
}

/* PROFILE */
#profile {
    font-family: 'Alegreya', serif;
    text-align: left;
}

.profile-header {
    text-align: center;
    padding: 3% 0 5%;
}

.profile-photo {
    max-width: 100%;
    margin-bottom: 2%;
    height: auto;
    border-radius: 50%;
    width: 20%;
}

table,
td {
    border-spacing: 30px;
    padding-right: 0.7rem;
    padding-bottom: 1rem;
}

/* skills bar*/
.wrapper2 {
    width: 500px;
}

.skill {
    margin-bottom: 10px;
    position: relative;
    overflow-x: hidden;
}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #3b3635;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 5px;
    background: #000000;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1 {
    width: 65%;

}

.skill-bar span {
    position: absolute;
    top: -30px;
    font-size: 18px;
}

.skill-bar {
    position: relative;

}

.skill1 .skill-count1 {
    right: 0;
}

/* SKILL 2 */
.skill2 {
    width: 65%;
}

.skill2 .skill-count2 {
    right: 0;
}

/* SKILL 3 */
.skill3 {
    width: 50%;
}

.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4 {
    width: 60%
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5 {
    width: 50%;
}

.skill5 .skill-count5 {
    right: 0;
}

/* SKILL 6 */
.skill6 {
    width: 70%
}

.skill6 .skill-count6 {
    right: 0;
}

/* end of skills bar*/


/* PROJECTS */

hr {
    height: 10px !important;
    border: 20px;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    padding: 3% 0 3% 0;
}

/* FOOTER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

#contact {
    display: flex;
    font-family: 'Alegreya', serif;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fdd0d0, #d7e1ec);
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8;
    width: 8;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.copyright {
    color: #200433;
    font-size: 1rem;
    margin: 40px 0px 0px;
}